<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather-App</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    {{!-- <h1>{{title}}</h1> --}}

    <div class="main-content">

    {{>header}}
    <div><h3>Use this web-site to get your weather</h3></div>

    <form>
        <input placeholder="location">
        <button>Search</button>
    </form>
    <p id="msg1"></p>
    <p id="msg2"></p>
    </div>
   
    {{>footer}}
    <script src="js/app.js"></script>
</body>
</html>